/* Small Size Device (Mobile) */
@media screen and (max-width: 576px) {
  /* Reset Code Start */
  button {
    width: 145px;
    height: 50px;
  }
  /* Reset Code End */
  /* Nav Section Code Start Here */
  nav {
    width: 90%;
  }
  .mobile-nav-menu-bar {
    display: block;
  }
  .mobile-nav-menu-bar i {
    color: var(--whiteColor);
    font-size: 22px;
    padding-right: 10px;
  }
  .desktop-nav-menu {
    display: none;
  }
  /* Nav Section Code End Here */
  /* Banner Sectiio Code Start Here */
  #banner-section {
    width: 90%;
    flex-direction: column;
    margin-top: 100px;
  }
  .banner-text-contant {
    width: 100%;
  }
  .banner-text-contant h1 {
    font-size: 2.7rem;
    line-height: 45px;
  }
  .banner-text-contant h1 span {
    font-size: 5rem;
  }
  .banner-image-container {
    width: 100%;
  }

  /* Banner Sectiio Code End Here */
  /* Change Your Habits Section Code Start Here */
  #change-habit-section {
    width: 90%;
  }
  .change-habit-title-container {
    width: 100%;
  }
  .change-habit-content-area {
    flex-direction: column;
  }
  .change-habit-child-container {
    width: 70%;
  }
  .change-habit-child-container h5 {
    font-size: 1.3rem;
  }
  .change-habit-child-container p {
    font-size: 1rem;
  }
  /* Change Your Habits Section Code End Here */
  /* Card Section Code Start Here */
  #card-section {
    width: 90%;
    flex-direction: column;
  }
  .card-text-area {
    width: 100%;
  }
  .card-image-area {
    width: 137px;
    height: 110px;
  }
  .card-image-area {
    width: 80%;
  } */
  /* Card Section Code End Here */
}
