/* Root Section Start Here */
:root {
  --whiteColor: rgb(255, 255, 255);
  --blackColor: rgb(0, 0, 0);
  --grayColor: rgba(255, 255, 255, 0.5);
  --mandarinColor: rgb(230, 83, 60);
  --neroColor: rgb(34, 34, 34);
  --approxIvoryColor: rgba(255, 255, 255, 0.1);
  /* --lineargradient: rgb(17, 17, 17), rgba(119, 119, 119, 0); */
}
/* Root Section End Here */
/* Reset Code Start Here */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--blackColor);
  font-family: "Inter", sans-serif;
}
p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.4;
  color: var(--grayColor);
  text-align: justify;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  width: 210px;
  height: 48px;
  color: var(--whiteColor);
  background: var(--mandarinColor);
  font-weight: 600;
  font-size: 1.1rem;
  border: none;
  border-radius: 50px;
}
/* Reset Code End Here */
header {
  background-image: linear-gradient(
    rgb(17, 17, 17),
    rgba(255, 255, 255, 0.17),
    rgb(17, 17, 17)
  );
  background-position: center;
}
/* Nav Section Code Start Here */
nav {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h3 {
  color: var(--mandarinColor);
  font-size: 2.8rem;
  font-weight: 700;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--approxIvoryColor);
  border: 1px solid var(--approxIvoryColor);
  border-radius: 50px;
  padding: 4px;
}
nav ul li {
  padding: 10px 25px;
}
nav ul li:nth-child(1) {
  background-color: var(--mandarinColor);
  border-radius: 50px;
  border: none;
}
.desktop-nav-menu ul li a {
  color: var(--whiteColor);
  font-size: 19px;
  font-weight: 500;
}
.mobile-nav-menu-bar {
  display: none;
}
/* Nav Section Code End Here */
/* Banner Sectiio Code Start Here */
#banner-section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.banner-text-contant {
  width: 50%;
}
.banner-text-contant h1 {
  font-size: 4rem;
  color: var(--whiteColor);
  font-weight: 800;
  width: 80%;
  line-height: 78px;
  margin-bottom: 28px;
}
.banner-text-contant h1 span {
  font-family: "Miama", sans-serif;
  font-size: 8rem;
  font-weight: 500;
}
.banner-text-contant p {
  padding-right: 15%;
  margin-bottom: 28px;
}
.banner-btn-two {
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid var(--whiteColor);
}
.banner-image-container {
  margin-top: 54px;
  width: 50%;
  text-align: right;
}
/* #banner-section div {
  width: 180px;
  height: 108px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.055);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  text-align: center;
  color: var(--whiteColor);
}
#banner-section div h3 {
  font-size: 2rem;
  font-weight: 900;
}
#banner-section div h4 {
  font-size: 1.7rem;
  font-weight: 900;
}
#banner-section div p {
  font-size: 0.8rem;
}
#banner-section div:nth-child(1){
  position: absolute;
  
} */
/* Banner Sectiio Code End Here */
/* Change Your Habits Section Code Start Here */
#change-habit-section{
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.change-habit-title-container{
  width: 55%;
  margin: 0 auto;
  text-align: center;
}
.change-habit-title-container h2{
  font-size: 2.8rem;
  font-weight: 900;
  color: var(--whiteColor);
  margin-bottom: 24px;
}
.change-habit-title-container p{
  font-size: 0.8rem;
  margin: 0 auto;
  line-height: 24px;
  text-align: center;
}
.change-habit-content-area{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 84px;
  margin-top: 64px;
}
.change-habit-child-container{
  width: 30%;
  text-align: center;
}
.change-habit-child-container img{
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.change-habit-child-container h5{
  color: var(--whiteColor);
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 24px;
}
.change-habit-child-container p{
  font-size: 0.8rem;
  line-height: 18px;
  text-align: center;
  margin-top: 8px;
}
/* Change Your Habits Section Code End Here */