/* Root Section Start Here */
:root {
  --whiteColor: rgb(255, 255, 255);
  --blackColor: rgb(0, 0, 0);
  --grayColor: rgba(255, 255, 255, 0.5);
  --mandarinColor: rgb(230, 83, 60);
  --neroColor: rgb(34, 34, 34);
  --approxIvoryColor: rgba(255, 255, 255, 0.1);
  /* --lineargradient: rgb(17, 17, 17), rgba(119, 119, 119, 0); */
}
/* Root Section End Here */
/* Reset Code Start Here */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  /* font-family: 'Miama', sans-serif; */
}
p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.4;
  color: var(--grayColor);
}
/* Reset Code End Here */
