/* Root Section Start Here */
:root {
  --whiteColor: rgb(255, 255, 255);
  --blackColor: rgb(0, 0, 0);
  --grayColor: rgba(255, 255, 255, 0.5);
  --mandarinColor: rgb(230, 83, 60);
  --neroColor: rgb(34, 34, 34);
  --approxIvoryColor: rgba(255, 255, 255, 0.1);
  --lineargradient: rgb(17, 17, 17), rgba(119, 119, 119, 0);
}
/* Root Section End Here */
/* Reset Code Start Here */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--blackColor);
  font-family: "Inter", sans-serif;
  /* font-family: 'Miama', sans-serif; */
}
p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.4;
  color: var(--grayColor);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
main section {
  /* margin: 100px 0;
    padding: 100px 0; */
}
/* Reset Code End Here */
header {
  height: 100vh;
}
/* Nav Section Code Start Here */
nav {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h3 {
  color: var(--mandarinColor);
  font-size: 2.8rem;
  font-weight: 700;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--approxIvoryColor);
  border: 1px solid var(--approxIvoryColor);
  border-radius: 50px;
  padding: 4px;
}
nav ul li {
  padding: 10px 25px;
}
nav ul li:nth-child(1) {
  background-color: var(--mandarinColor);
  border-radius: 50px;
  border: none;
}
.desktop-nav-menu ul li a {
  color: var(--whiteColor);
  font-size: 19px;
  font-weight: 500;
}
.mobile-nav-menu-bar {
  display: none;
}
/* Nav Section Code End Here */
